html {
    position: relative;
    min-height: 100%;
    margin: 0;
    background-color: darkgray;
    border: 10px black solid;
}


header {
    text-align: center;
    background-color: black;
    color: white;
    padding: 4.2vh;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

.img {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10vh;
    gap: 10px;
}

#muffin,
#joe,
#dog {
    height: 500px;
    width: 700px;
}

.discription {
    border: 15px grey solid;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 17px;
}


.footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 5vh;
}

a {
    padding: 30px;
    text-decoration: none;
}

/*Responsive for for all screen sizes*/
@media screen and (max-width: 767px) {

    /* to do : adjust all values to match the mobile screen*/
    header {
        margin: 0;
        padding: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    #muffin,
    #dog {
        height: 20rem;
        width: 20rem;
    }

    #joe {
        height: 19rem;
        width: 21rem;

    }

    .discription {
        height: 45rem;
        width: 21rem;
        font-size: 13px;
        padding: 0;
        border: 5px grey solid;
    }

    a {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    header {
        margin: 0;
        padding: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    #muffin {
        height: 30rem;
        width: 30rem;
    }

    .discription {
        height: 45rem;
        width: 45rem;
        padding: 0;
        border: 5px grey solid;
    }
}