html {
    min-height: 100%;
    background-color: darkgray;
    border: 10px black solid;
}

header {
    background-color: black;
    text-align: center;
    font-size: 3.3rem;
    color: white;
    padding: 15px;
    opacity: 80%;

}

.container-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7rem;
    text-align: center;
    padding: 15vh;
}

.container-img img {
    border: 10px black solid;
}

a {
    text-decoration: none;
}

footer {
    text-align: center;
    font-size: 1.6vh;
    color: black;
}